doctype html
html(lang='zh-CN')
	head
		title templet
		meta(charset='utf-8')
		link(rel='stylesheet',href='/dist/style/index.css')
	body
		div.stage
		
		script(src="/dist/script/vendor.js")
		script(src="/dist/script/index.js")
